.chatAppMainContainer
{
    height: 100vh;
    width: 100%;
}
.userOneDisplay , .userTwoDisplay
{
    height: 95vh;
    width: 30%;
    background-image:linear-gradient(rgba(228, 209, 155, 0.4) , rgba(242, 222, 168, 0.4)) , url('../assets//ChatBG.jpg');
    margin: 10px;
    border: 5px solid rgb(9, 84, 9);;
    border-radius: 20px;
    overflow: hidden;
}
nav
{
    height: 10%;
    background-color: rgb(9, 84, 9);
    color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}
.messages{
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 80%;
  width: 100%;
  overflow-y: auto;
  padding: 10px;
}
.messagesLeft {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  width: 100%;
}
.messagesRight {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
  width: 100%;
}
.messagesLeft h6   {
  display: inline-block;
  max-width: fit-content;
  width: 60%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
 .messagesRight h6
 {
  display: inline-block;
  max-width: fit-content;
  width: 60%;
  background-color: #cdfed2;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
 }
.inputField
{
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inputField input
{
    height: 45px;
    width: 85%;
    border-radius: 50px;
    padding: 10px 20px;
    border: 1px solid darkgrey ;
    outline: none;
}
.inputField input::placeholder
{
    font-weight: 500;
}
.inputField button
{
    height: 45px;
    width: 45px;
    font-size: 25px;
    color: white;
    background-color: rgb(24, 24, 24);
    border-radius: 50%;
}


/*defualt message */
.defualtNote
{
    padding-top: 30px;
    height: 75vh;
}
.defualtNote .defualtMsgContent
{
    height: auto;
    width: 90%;
    margin:0px auto;
    padding: 5px;
    text-align: center;
    background-color: rebeccapurple;
    background-color:#fae1b3;
    font-size: 15px;
    border-radius: 10px;
}
.defualtNote .defualtMsgContent p 
{
    margin: 0%;
    padding: 0;
    color: rgb(57, 57, 57);
}